
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    background-color: white;
}

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

a:visited {
    color:maroon;
  }

.background {
    background-color: white;
}

.footer {
    text-align: center;
}

#linkedin,
#github {
    width: 50px;
}

#pics {
        width: 100%;
        height: 75%;
}

img:hover
{
    cursor: default;
    transform: rotate(360deg);
    transition: all 0.3s ease-in-out 0s;
}

#center {
    text-align: "center";
}